@import "./constants.scss";

header {
  height: 93px;
  position: relative;
  .header__container {
    height: 93px;
    margin-top: 2px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #e5e5e5;
    .logo {
      // margin-left: 225px;
      @include adaptive("margin-left", 225, 10);
      img {
        // width: 96px;
        @include adaptive("width", 96, 56);
      }
    }
    .navigate {
      margin-bottom: 3px;
      display: flex;
      align-items: center;
    }
    button {
      // width: 158px;
      @include adaptive("width", 158, 45);
      // height: 40px;
      @include adaptive("height", 40, 25);

      // margin: 0 75px;
      @include adaptive("margin-left", 75, 15);
      @include adaptive("margin-right", 75, 15);
      border: 1px solid #aa182c;
      box-sizing: border-box;
      background: transparent;
      span {
        @extend %font-button;
        text-transform: uppercase;
        color: #40474e;
      }
    }
    .nav-links {
      // width: 743px;
      @include adaptive("width", 743, 246);
      display: flex;
      justify-content: space-between;
    }
    a {
      height: 19px;
      // font-size: 16px;
      @include adaptive("font-size", 16, 8);
      line-height: 100%;
      text-decoration: none;
      color: #40474e;
      &:hover {
        color: #aa182c;
      }
      span {
        color: #aa182c;
      }
    }
    select {
      width: 38px;
      height: 22px;
      font-family: "GothamPro", Courier, monospace;
      // font-size: 15.3px;
      @include adaptive("font-size", 15.3, 10);
      line-height: 140%;
      // margin: 0 71px 2px 41px;
      margin-bottom: 2px;
      @include adaptive("margin-left", 41, 30);
      @include adaptive("margin-right", 71, 10);

      border: none;
      background-color: rgba($color: #fff, $alpha: 0);
      color: #40474e;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background: url("../images/dest/dropdown.svg") no-repeat right center;
      outline: 0;
    }
    .icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // width: 174px;
      @include adaptive("width", 174, 100);
      img {
        @include adaptive("width", 23, 15);
      }
      .icons_heart {
        position: relative;
        .like {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 14.7px;
          height: 14.7px;
          left: 18px;
          bottom: 58.99%;
          background-color: #aa182c;
          color: #fff;
          transform: rotate(15deg);
          .like__number {
            font-weight: bold;
            // font-size: 7.5px;
            @include adaptive("font-size", 7.5, 5);

            transform: rotate(-15deg);
          }
        }
      }
      .icons_man {
        margin-right: 2.5px;
      }
    }
  }
  .header-line {
    width: 100%;
    height: 1px;
    background: #cfdae3;
    position: absolute;
    bottom: -11px;
    z-index: 5;
  }
}

@media (max-width: 1024px) {
  header .header__container .icons .icons_heart .like {
    width: 11px;
    height: 11px;
    left: 14px;
    bottom: 48%;
  }
  header .header__container .select {
    margin-right: 10px;
  }
}

@media (max-width: 912px) {
  .scales,
  .icons_heart,
  .icons_man {
    position: absolute;
    display: none;
  }
}

@media (max-width: 767px) {
  .nav-links {
    max-width: 150px;
    @include adaptive("max-width", 150, 100);
    flex-direction: column;
    .nav-link {
      height: 13px;
    }
  }
}
