@import "./constants.scss";

.page2 {
  max-height: 1150px;
  position: relative;
  background: #fff;
  padding-bottom: 117px;
  .page2__header {
    @include adaptive("height", 224, 56);

    .page2__header__text {
      @include adaptive("width", 426, 256);
      @include adaptive("margin-left", 223, 56);
      @include adaptive("padding-top", 119, 26);
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        height: 24px;
        font-style: normal;
        font-weight: normal;
        @include adaptive("font-size", 20, 12);
        line-height: 121.2%;
        letter-spacing: 0.1em;
        color: #40474e;
      }
      .line {
        @include adaptive("width", 200, 100);
        height: 1px;
        background: #8d9aa5;
      }
    }
  }

  .page2__container {
    display: flex;
    justify-content: start;
    margin-left: -2px;
    .page2__container__mainImage {
      position: relative;
      .page2__mainImage {
        @include adaptive("width", 1070, 320);
        @include adaptive("height", 806, 200);
      }
      .container__mainImage_loupe {
        position: absolute;
        @include adaptive("width", 119, 60);
        @include adaptive("height", 119, 60);
        @include adaptive("left", 187, 30);
        @include adaptive("top", 475, 130);
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(249, 249, 250, 0.2);
        color: #fff;
        img {
          width: 56px;
          height: 57px;
          margin-right: 4px;
          margin-bottom: 4px;
        }
      }
    }

    .page2__blockInfo {
      @include adaptive("width", 563, 250);
      @include adaptive("height", 283, 20);
      @include adaptive("margin-left", 84, 15);
      .page2__blockButton {
        display: flex;
        justify-content: start;
        button {
          @include adaptive("width", 284, 80);
          @include adaptive("height", 54, 20);
          border: 1px solid #6b97bb;
          @extend %font-button;
          text-align: center;
          background: transparent;
          color: #6b97bb;
        }
        .page2__blockArrow {
          @include adaptive("margin-left", 134, 10);
          .page2__button {
            @include adaptive("width", 54, 27);
            @include adaptive("height", 54, 20);
            border: 1px solid #98a4ae;
            margin-right: 11px;
            .page2__leftArrow {
              width: 26px;
              height: 9px;
            }
            .page2__rightArrow {
              width: 26px;
              height: 9px;
            }
          }
        }
      }
      article {
        @include adaptive("margin-top", 81, 15);
        h2 {
          font-style: normal;
          font-weight: normal;
          @include adaptive("font-size", 44, 12);
          line-height: 130%;
          color: #40474e;
        }
        .page2__text {
          @include adaptive("width", 465, 120);
          @include adaptive("margin-top", 44, 10);
          display: flex;
          flex-direction: column;
          p {
            font-style: normal;
            font-weight: 300;
            @include adaptive("font-size", 17.9, 8);
            line-height: 140%;
            color: #40474e;
          }
          p:nth-child(2) {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .page2__slider {
    position: absolute;
    @include adaptive("top", 725, 240);
    right: 0;
    @include adaptive("width", 949, 220);
    @include adaptive("height", 245, 30);
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .page2__container {
    flex-direction: column;
    .page2__blockInfo {
      min-width: 100%;
      article .page2__text {
        min-width: 100%;
      }
      .page2__blockButton .page2__blockArrow {
        margin-top: 0;
      }
    }
  }
  .page2 .page2__slider {
    display: none;
  }
}

@media (max-width: 575px) {
  .page2__header .page2__header__text .line {
    display: none;
  }
  .page2__header {
    display: flex;
    justify-content: center;
    align-items: center;
    .page2__header__text {
      justify-content: center;
      margin: 0;
      padding: 0;
    }
  }
}
