*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?iefix") format("eot"),
    url("../fonts/GothamPro.woff") format("woff"),
    url("../fonts/GothamPro.ttf") format("truetype"),
    url("../fonts/GothamPro.svg#webfont") format("svg");

  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "GothamPro", Courier, monospace;
}

.wrapper {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  background: #f9f9fa;
}

.header__container {
  height: 109px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    img {
      width: 96px;
      height: 86px;
    }
  }
  button {
    width: 158px;
    height: 40px;
    font-size: 14px;
    line-height: 115.7%;
    margin: 0 75px;
    border: 1px solid #aa182c;
  }
  nav {
    width: 743px;
    display: flex;
    justify-content: space-between;
  }
  a {
    height: 19px;
    font-size: 16px;
    line-height: 115.7%;
    text-decoration: none;
    color: #40474e;
    &:hover {
      color: #aa182c;
    }
    span {
      color: #aa182c;
    }
  }
  select {
    width: 38px;
    height: 22px;
    font-size: 16px;
    line-height: 140%;
    margin: 0 87.52px 0 40px;
    border: none;
    background-color: rgba($color: #fff, $alpha: 0);
    color: #40474e;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url("../images/dest/dropdown.svg") no-repeat right center;
    outline: 0;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    min-width: 174px;
    height: 24px;
    .icons_heart {
      position: relative;
      .like {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14.7px;
        height: 14.7px;
        left: 85.51%;
        bottom: 58.99%;
        font-size: 8px;
        background-color: #aa182c;
        transform: rotate(15deg);
      }
    }
  }
}

.page1 {
  height: 913px;
  position: relative;
  img {
    width: 100%;
    height: 913px;
    z-index: -1;
  }
  .page1__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(64, 71, 78, 0.45);
  }
  article {
    .article__h1 {
      width: 856px;
      height: 175px;
      position: absolute;
      left: 225px;
      top: 440px;
      font-style: normal;
      font-weight: normal;
      font-size: 86px;
      line-height: 100%;
      color: #ffffff;
    }
    .article__span {
      position: absolute;
      width: 539px;
      height: 84px;
      left: 225px;
      top: 643px;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 140%;
      color: #ffffff;
    }
  }
  .iconNetworks {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 188px;
    right: 225px;
    top: 455px;
    div {
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .page1__choice {
    width: 100%;
    height: 108px;
    position: relative;
    display: flex;
    justify-content: space-between;
    bottom: 111px;
    z-index: 5;
    .page1__list {
      width: 59px;
      height: 15px;
      display: flex;
      justify-content: space-between;
      margin-left: 225px;
      div {
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        button {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          &.active {
            width: 15px;
            height: 15px;
            background: transparent;
            border: 1px solid #fff;
          }
        }
      }
    }
    .page1__button {
      margin-left: 100px;
      button {
        width: 26px;
        height: 47px;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 50px;
        position: relative;
        div {
          width: 3px;
          height: 7px;
          background: #fff;
          border-radius: 10px;
          display: inline-block;
          position: absolute;
          top: 11px;
          left: 11px;
        }
      }
    }
    .page1__arrows {
      width: 143px;
      height: 34px;
      display: flex;
      justify-content: space-between;
      margin-right: 224px;
      div {
        width: 1.5px;
        height: 34px;
        background: #fff;
      }
      button {
        height: 34px;
        background: transparent;
      }
      .page1__leftArrow {
        width: 30px;
        height: 11px;
      }
      .page1__rightArrow {
        width: 30px;
        height: 11px;
      }
    }
  }
}

.page2 {
  height: 1150px;
  position: relative;
  background: #fff;
  .page2__header {
    height: 224px;
    .page2__header__text {
      width: 426px;
      margin-left: 225px;
      padding-top: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        width: 202px;
        height: 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 121.2%;
        color: #40474e;
      }
      .line {
        width: 200px;
        height: 1px;
        background: #8d9aa5;
      }
    }
  }

  .page2__container {
    display: flex;
    justify-content: start;
    .page2__container__mainImage {
      position: relative;
      .page2__mainImage {
        width: 1070px;
        height: 806px;
      }
      .container__mainImage_loupe {
        position: absolute;
        width: 119px;
        height: 119px;
        left: 187px;
        top: 475px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(249, 249, 250, 0.2);
        color: #fff;
        img {
          width: 46px;
          height: 46px;
        }
      }
    }

    .page2__blockInfo {
      width: 563px;
      height: 283px;
      margin-left: 84px;
      .page2__blockButton {
        display: flex;
        justify-content: start;
        button {
          width: 284px;
          height: 54px;
          border: 1px solid #6b97bb;
          box-sizing: border-box;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 115.7%;
          text-align: center;
          color: #6b97bb;
        }
        .page2__blockArrow {
          margin-left: 135px;
          .page2__button {
            width: 54px;
            height: 54px;
            border: 1px solid #98a4ae;
            margin-right: 15px;
            .page2__leftArrow {
              width: 30px;
              height: 11px;
            }
          }
        }
      }
      article {
        margin-top: 85px;
        h2 {
          font-style: normal;
          font-weight: normal;
          font-size: 44px;
          line-height: 130%;
          color: #40474e;
        }
        div {
          width: 470px;
          height: 110px;
          margin-top: 40px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          p {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 140%;
            color: #40474e;
          }
        }
      }
    }
  }

  .page2__slider {
    position: absolute;
    top: 725px;
    left: 974px;
    width: 949px;
    height: 245px;
    display: flex;
    justify-content: space-between;
  }
}

.page3 {
  height: 860px;
  position: relative;
  .page3__header {
    height: 244px;
    display: flex;
    justify-content: space-between;

    .page3__header__text {
      width: 519px;
      height: 24px;
      margin-left: 225px;
      margin-top: 135px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 121.2%;
        color: #40474e;
      }
      .line {
        width: 200px;
        height: 1px;
        background: #8d9aa5;
      }
    }
    button {
      width: 256px;
      height: 54px;
      margin-top: 120px;
      margin-right: 225px;
      border: 1px solid #6b97bb;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 115.7%;
      text-align: center;
      color: #6b97bb;
    }
  }

  .page3__slider {
    width: 2430px;
    height: 506px;
    display: flex;
    margin-left: 215px;
    .frame__card {
      width: 400px;
      height: 506px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(207, 218, 227, 0);
      z-index: 5;
      &:hover {
        border: 1px solid #cfdae3;
      }
    }
    .card {
      width: 380px;
      height: 486px;
      margin: 0 10px;
      border: 1px solid #cfdae3;
      .main-image {
        width: 379px;
        height: 325px;
      }
      .last {
        width: 55px;
      }
      .card__block {
        margin: 20px 20px 19px;
        height: 126px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .info {
          width: 340px;
          height: 26px;
          display: flex;
          justify-content: space-between;
          .article {
            width: 80px;
            text-align: center;
            padding-top: 5px;
            background: #d9d4d4;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 130%;
            color: #40474e;
          }
          .news {
            width: 94px;
            padding-top: 5px;
            text-align: center;
            background: #cfdae3;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 130%;
            color: #40474e;
          }
          time {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 130%;
            color: #40474e;
          }
        }
        .block__text {
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 120%;
          color: #40474e;
          &:hover {
            color: #6b97bb;
            cursor: pointer;
          }
        }
        .block__footer {
          display: flex;
          img {
            margin-right: 6px;
          }
          div {
            margin-right: 15px;
          }
        }
      }
    }
  }
}

.page4 {
  height: 924px;
  background: rgba(207, 218, 227, 0.2);
  .page4__header {
    height: 224px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      width: 410px;
      height: 24px;
      margin: 0 24px;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 121.2%;
      letter-spacing: 0.1em;
      color: #40474e;
    }
    div {
      width: 200px;
      height: 1px;
      background: #8d9aa5;
    }
  }
  .page4__main {
    display: flex;
    justify-content: center;
    .page4__works {
      width: 900px;
      height: 600px;
      display: flex;
      flex-wrap: wrap;
      div {
        width: 280px;
        height: 280px;
        margin-bottom: 20px;
        margin-right: 20px;
      }
      .works__info {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
          width: 131px;
          height: 29px;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 120%;
          text-align: center;
          text-decoration: none;
          color: #40474e;
          margin-bottom: 18px;
          margin-top: 15px;
        }
        button {
          width: 178px;
          height: 44px;
          background: #6b97bb;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 115.7%;
          text-align: center;
          color: #f9f9fa;
        }
      }
    }
  }
}

.page5 {
  height: 890px;
}
