@import "./constants.scss";
@import "./header.scss";
@import "./page1.scss";
@import "./page2.scss";
@import "./page3.scss";
@import "./page4.scss";
@import "./page5.scss";
@import "./footer.scss";

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?iefix") format("eot"),
    url("../fonts/GothamPro.woff") format("woff"),
    url("../fonts/GothamPro.ttf") format("truetype"),
    url("../fonts/GothamPro.svg#webfont") format("svg");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Light.eot");
  src: url("../fonts/Gilroy/Gilroy-Light.eot?iefix") format("eot"),
    url("../fonts/Gilroy/Gilroy-Light.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Light.ttf") format("truetype"),
    url("../fonts/Gilroy/Gilroy-Light.svg#webfont") format("svg");

  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "GothamPro", Courier, monospace;
}

.wrapper {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  background: #f9f9fa;
}
